# Topcoder Challenge API Wrapper

## Step to run tests

1. Set the environment variables found in [**Tests Section**](README.md#running-tests)
2. run `npm run test` to run unit tests
3. run `npm run cov` to run unit tests and generate coverage report

## Test Coverage Report

  110 passing (1s)


File                                       |  % Stmts | % Branch |  % Funcs |  % Lines | Uncovered Line #s |
-------------------------------------------|----------|----------|----------|----------|-------------------|
All files                                  |    98.86 |    93.33 |      100 |    98.86 |                   |
 topcoder-challenge-api-wrapper            |      100 |      100 |      100 |      100 |                   |
  index.js                                 |      100 |      100 |      100 |      100 |                   |
 topcoder-challenge-api-wrapper/src        |      100 |      100 |      100 |      100 |                   |
  ChallengeRelatedApi.js                   |      100 |      100 |      100 |      100 |                   |
  PlatformsApi.js                          |      100 |      100 |      100 |      100 |                   |
  TechnologiesApi.js                       |      100 |      100 |      100 |      100 |                   |
 topcoder-challenge-api-wrapper/src/common |    96.97 |    85.71 |      100 |    96.97 |                   |
  constants.js                             |      100 |      100 |      100 |      100 |                   |
  helper.js                                |    96.88 |    85.71 |      100 |    96.88 |               122 |
